@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@** Begining form . it is enclosed in using statement to dispose at the end  *@
@using (Html.BeginForm("Save", "Customer"))
{

    <div class="form-group">

        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

<div class="form-group">

    @*<label for="Birthdate">DOB</label>*@

    @Html.LabelFor(m => m.Customer.Birthdate)
    @Html.TextBoxFor(m => m.Customer.Birthdate,"{0: d MMM yyyy}" ,new { @class = "form-control" })

</div>

@*<div class="form-group">

    @Html.LabelFor(m => m.IsSubscribedToNewsletter)
    @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter, new { @class = "form-control" })

</div>*@



<div class="form-group">

    @*<label for="Birthdate">DOB</label>*@

    @Html.LabelFor(m => m.Customer.MembershipTypeId)
    @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipType,"Id","Name"), "Select Membership Type", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
</div>


<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe To Newsletter ?
    </label>
</div>

@Html.HiddenFor(m =>m.Customer.Id)
<button type="submit" class="btn btn-primary">Save</button>

}

